@use "../../variables.scss" as *;
@use "sass:color";

.material-symbols-outlined {
	color: $primary;

	&:hover {
		color: color.scale($primary, $lightness: -15%);
	}
}
nav {
	margin-left: 2rem;
	margin-top: 0;
	margin-right: 1rem;
	height: 4rem;
}

.btn {
	--bs-btn-padding-x: 0;
	--bs-btn-padding-y: 0;
}

.btn.nav-link {
	padding: 1rem 0;
}

.navbar .nav-link.social-link {
	color: white; // force white text
	font-family: "Rubik", sans-serif;
	font-weight: 500;

	&:hover {
		color: $secondary; // hover color
	}
}

.cart {
	float: right;
}

.navbar .navbar-nav {
	flex-direction: row;
	gap: 1rem;
}

.hamburger-menu {
	display: none;
}

@media (width <= 600px) {
	.navbar .navbar-nav {
		display: none;
	}

	.hamburger-menu {
		display: unset;
	}
}

.nav-link {
	cursor: pointer;
}

NavLink.active.nav-link.social-link {
	color: $secondary;
}

@media (prefers-color-scheme: light) {
	.navbar .nav-link.social-link {
		color: #1e1e1e; // force white text
	}
}
