@use "sass:color";
@use "/src/variables.scss" as *;

.skeleton {
	animation: pulse 1.5s infinite ease-in-out;
}

.image {
	width: 100%;
	height: 400px;
	background: color.scale($body-bg-dark, $lightness: 15%);
	border-radius: 8px;
	aspect-ratio: 1/1;
}

.text {
	height: 16px;
	background: color.scale($body-bg-dark, $lightness: 15%);

	border-radius: 4px;
	margin-top: 10px;
}

.textShort {
	width: 40%;
}

.textShort {
	width: 70%;
}

.diverShort {
	height: 1rem;
}

.dividerLong {
	height: 2rem;
}

.container {
	display: flex;
	gap: 1rem;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
