@use "sass:color";
@use "/src/variables.scss" as *;

.skeleton {
	animation: pulse 1.5s infinite ease-in-out;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.image {
	width: 100%;
	height: 200px;
	background: color.scale($body-bg-dark, $lightness: 15%);
	border-radius: 8px;
	aspect-ratio: 1/1;
}

.text {
	height: 16px;
	background: color.scale($body-bg-dark, $lightness: 15%);
	border-radius: 4px;
	margin-top: 10px;
}

.textShort {
	width: 40%;
}

.textLong {
	width: 70%;
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

/* ANIMATION */
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
