@use "/src/variables.scss" as *;

.image {
	border-radius: 0.5rem;
	width: 9.5rem;
	aspect-ratio: 3 / 4;
	object-fit: cover;
	padding-bottom: 0.5rem;
}

.price {
	color: $primary;
	font-size: 1rem;
}

.cardLink {
	display: block;
	text-decoration: none;
	color: inherit;
}

@media (width <= 600px) {
	.image {
		aspect-ratio: 5 / 4;
		width: 100%;
	}
}
