@use "/src/variables.scss" as *;

.container {
	display: flex;
	gap: 0.625rem;
}

.size {
	font-size: 1rem;
	outline: 1px solid white;
	cursor: pointer;
	width: 2.5rem;
	height: 2.5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.2s ease;
}

.active {
	outline-color: $primary;
	color: $primary;
}

.size:hover {
	outline-color: $primary;
	color: $primary;
}

.header {
	display: flex;
	gap: 1rem;
	align-items: end;
}

.title {
	font-size: 1.125rem;
	margin: 0;
}

@media (prefers-color-scheme: light) {
	.size {
		outline-color: black;
	}

	.active {
		outline-color: $primary;
	}
}

@media (max-width: 600px) {
	.container {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		flex-wrap: nowrap;
		padding: 1px;
	}
	.size {
		flex: 0 0 auto;
	}

	.title {
		display: none;
	}
}
